* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  color: #7C6A0A;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  border-radius: 1000px;
  font-weight: 600;
  cursor: pointer;
}

/*Button hierarchy*/
/*----Primary----*/
.button--primary {
  color: #FFEFE7;
  background-color: #FA9500;
  transition: background-color 0.3s ease;
}

.button--primary:hover {
  background-color: #e68a00;
}

.button--primary:active {
  background-color: #cc7a00;
}

/*----Secondary----*/
.button--secondary {
  color: #7C6A0A;
  background-color: #FFEFE7;
  border: 1px solid #BABD8D;
  transition: background-color 0.3s ease;
}

.button--secondary:hover {
  background-color: #FFDAC6;
}

.button--secondary:active {
  background-color: #ebc6b3;
}

/*----Tertiary----*/
.button--tertiary {
  color: #7C6A0A;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.button--tertiary:hover {
  background-color: rgba(230, 138, 0, 0.1254901961);
}

.button--tertiary:active {
  background-color: rgba(230, 138, 0, 0.1882352941);
}

/*Button sizes*/
.button-sm {
  height: 32px;
  padding: 0 8px;
  gap: 4px;
}

.button-md {
  height: 40px;
  padding: 0 12px;
  gap: 8px;
}

.button-lg {
  height: 40px;
  padding: 0 16px;
  gap: 8px;
}

/*Button icon styles*/
.button--icon--sm {
  height: 32px;
  width: 32px;
}

.button--icon--md {
  height: 40px;
  width: 40px;
}

.button--icon--lg {
  height: 48px;
  width: 48px;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0 32px;
  background-color: #FFEFE7;
}
nav .nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  max-width: 900px;
  height: 60px;
}
nav .nav__wrapper p {
  font-size: 1.5em;
}
nav .nav__wrapper .nav_right_container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 0;
  gap: 4px;
}

.main__section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #FFEFE7;
}
.main__section .main__section_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}

.hero__section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  gap: 48px;
}
.hero__section .impact__section {
  width: clamp(350px, 100%, 600px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
}
.hero__section .impact__section h1 {
  font-size: 2rem;
}
.hero__section .impact__section p {
  font-size: 1rem;
}
.hero__section .impact__section .button {
  width: -moz-fit-content;
  width: fit-content;
  min-width: 150px;
}
.hero__section img {
  height: 70vh;
  border-radius: 20px;
}

.card_section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 32px;
}

.product-section {
  width: 100%;
}
.product-section .healthcare, .product-section .furniture {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-section .healthcare h2, .product-section .furniture h2 {
  font-size: 1.5rem;
}
.product-section .healthcare .product_card, .product-section .furniture .product_card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 12px;
  background-color: #FFDAC6;
  border-radius: 8px;
}
.product-section .healthcare .product_card button, .product-section .furniture .product_card button {
  position: absolute;
  top: 0;
  right: 0;
}
.product-section .healthcare .product_card .product__image, .product-section .furniture .product_card .product__image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 8px;
}
.product-section .healthcare .product_card .product__image img, .product-section .furniture .product_card .product__image img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.product-section .furniture .product_card {
  background-color: #BABD8D;
  color: white;
}

.about-us {
  width: 100%;
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
}
.about-us .mission_section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 16px;
}
.about-us .mission_section .mission_section_container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  color: #E86424;
}
.about-us .mission_section .mission_section_container img {
  width: 100px;
}

.gallery {
  width: 100%;
  padding: 32px 24px;
  /*display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);*/
}
.gallery .gallery__images_container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 16px;
}
.gallery .gallery__images_container .gallery__images {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 16px;
  width: 33%;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
}
.gallery .gallery__images_container .gallery__images img {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.location {
  width: 100%;
  max-width: 900px;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
}
.location .map {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-radius: 12px;
}
.location .map img {
  width: 100%;
}
.location .address__container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0;
}
.location .address__container p {
  font-size: 0.875;
  color: #cc7a00;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
  width: 100%;
  height: 250px;
  padding: 20px;
  background: #FA9500;
  color: white;
}
.footer .footer__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 8px;
}
.footer .footer__list .footer__list__item_link {
  font-size: 0.875rem;
  color: white;
}
.footer .social__media {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer .social__media img {
  width: 32px;
}/*# sourceMappingURL=main.css.map */